/**basic**/
html {
  font-size: 62.5%;

}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}


* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 3rem;

}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 80px 0px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}



/**Grid**/
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }



/**header**/
header{
  width: 100%;
  right: 0;
  left: 0;
  z-index: 100;
}

.logo{
  float: left;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-top: 30px;
  line-height: 0;
  color: #e06052;
  margin-left: 30px;
}

.logo a{
  color: #e06052;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
  float: right;
  margin-bottom: 5%;
  height: 40px;
  padding-top: 30px;

}

.navbar-link{
  font-family: 'Roboto', sans-serif;
  color: #9c9c9c;
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

.navbar-link:hover {
  color: white;
  background-color: #e06052;
}

#menu{
  padding: 2% 0 2% 0;
}

#work{
  color: white;
  background-color: #e06052;
}

.summary{
  position: relative;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: #f5f5f5;
  transform-style: preserve-3d;
  transition: transform 200ms ease 0s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0 3px 5px 0 rgba(90, 91, 95, 0.7);
}



/**intro**/
.intro{
  width: 100%;
  height: 100%;
}

.intro-words{
  text-align: center;
  vertical-align: middle;
}

.intro-words h2{
  font-family: 'Righteous', cursive;
  color:  #e06052;
  letter-spacing: 2.5px;
  font-size: 50px;
}


.intro-words p{
  font-family: 'Roboto', sans-serif;
  color: #9c9c9c;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 100;
}

/**describtion**/
.col-left, .col-right {
  float: left;
  width: 50%;
  padding: 0 15px;
  height: 551px;
  display: grid;
  align-content: center;
}

.des{
  padding: 0;
}

/**..brief_intro h2{
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
  display: block;
  color: #202124;
  text-shadow:
  -0.5px -0.5px 0 white,
  0.5px -0.5px 0 white,
  -0.5px 0.5px 0 white,
  0.5px 0.5px 0 white;
}

/**.brief_intro span{
  background:linear-gradient(180deg,transparent 65%, #63a359 0);
  opacity: 0.7;
}

.brief_intro h2:hover{
  color: white;
  text-shadow: none;
}**/

.experience-year {
  background-color: #e06052;
  color: #202124;
}

.text .experience-year{
  color: white;
  font-weight: 600;
  margin-top: 20px;
  font-size: 17px;
  display: inline-block;
  padding: 0 10px;
}

.my{
  height: 400px;
}

.wordes h3{
  font-size: 17px;
  font-family: 'Roboto', cursive;
  font-weight: 300;
  display: block;
  color: #9c9c9c;
}

.wordes, .button_group{
  margin: 20px;
}

.ex {
  margin: 0px;
}

.ex a{
  padding: 5px;
  border-bottom: 2px solid #e06052;
  font-size: 17px;
}

.ex a:hover{
  padding: 5px;
  background-color: #e06052;
  border: 2px solid #e06052;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}

.button_group .exx{
  font-size: 17px;
}

.button_group a{
  color: #aaaaaa;
  letter-spacing: 1px;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10rem;
}

.button_group i{
  color: #aaaaaa;
  margin-right: 10px;
}

.block a{
  color: #9c9c9c;
  border-bottom: 2px solid #e06052;
  padding: 4px;
}

.block a:hover{
  border: 5px solid #e06052;
  border-radius: 5px;
  background-color: #e06052;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  opacity: 0.7;}


.process{
  background-color: #f5f5f5;
}

/**goal**/
.goal{
  font-family: 'Righteous', cursive;
  color: #9c9c9c;
  letter-spacing: 2.5px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.goal-item{
  float: left;
  width: 33.333%;
  padding: 0 0 0 15px;
}

.goal-it h3{
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: none;
  padding: 0 15px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  color: #9c9c9c;
  margin-top: 20px;
}


.two-pc{
  width: 50%;
}

.problem{
  background-color: #f5f5f5;
}

/**process**/
.text{
  margin-bottom: 30px;
}

.text h3{
  font-family: 'Roboto', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  text-transform: capitalize;
  font-size: 23px;
  color: #9c9c9c;
}

.text h4{
  font-family: futura;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 20px;
  color: #9c9c9c;
  margin-top: 15px;
}


.text h6{
  font-family: futura;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 20px;
  color: #e06052;
  margin-top: 15px;
}

.text p{
  color: #9c9c9c;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 20px;
}

.hightlight{
  background: linear-gradient(180deg,transparent 65%, rgba(99, 163, 89, 0.5) 0);
}

.plain{
  padding: 0 15px;
}

.pic-group{
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 50px;
}

.seo-a{
  margin: 25px 0 0 15px;
  color: #aaaaaa;
}

.seo-a a{
  font-size: 20px;
  color: #aaaaaa;
  border-bottom: 2px solid #e06052;
  font-family: futura;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
}


.seo-b{
  margin-top: 15px;
}

.seo-b span{
  font-size: 17px;
  color: #9c9c9c;
  margin-top: 15px;
}

/**footer**/
.wave{
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/wave.png);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  margin-top: 150px;
  display: block;
}

.foo{
  background-color: #f5f5f5;
  width: 100%;
  height: 200px;
  max-width: 1980px;
  text-align: center;
  display: grid;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.foo:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.5;
  background-size: cover;
}

.mail i{
  display: inline-block;
  color: #333;
  margin-right: 5px;
}

.mail p{
  display: inline-block;
}

.mail a{
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}


/**back to project**/
.button-goback{
  text-align: center;
}

.button-goback a{
  border: 2px solid #e06052;
  padding: 20px;
  border-radius: 15px;
  color: #e06052;
  font-size: 30px;
  box-shadow: 5px 5px 0 #e06052;
}

.button-goback a:hover{
  background-color: #e06052;
  color: white;
  box-shadow: 5px 5px 0 #9c9c9c;
  font-weight: 700;
}


/***MEDIA QUERIES**/

@media (max-width: 1023px) {
.header p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  font-family: 'roboto', monospace;
  padding: 20px
  }

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 2rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

#header{
  padding: 10% 0 2% 0;
}

.col-left, .col-right{
  display: grid;
  margin: 40px 0;
  float: none;
  height: 100%;
  width: 100%;
}

.logo{
  float: none;
}

.navbar-link{
  margin-right: 10px;
  font-size: 1rem;
}


.container{
  padding: 0;
}

.brief_intro h2{
  font-size: 23px;
}

header .container{
  padding: 0 20px;
}

.goal-item{
  width: 80%;
  margin-bottom: 35px;
  float: none;
  margin-left: 30px;
}

.two-pc{
  width: 80%;
}

.pic-group{
  width: 100%;
  margin-top: 35px;
}

.logo{
  float: none;
}

section{
  padding: 50px 0;
}

.block{
  text-align: left;
}

.wave{
  height: 67px;
}
}




