/**basic**/
html {
  font-size: 62.5%;

}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}


* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 3rem;

}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 100px 0px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

}



/**header**/

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  /**header**/
#header{
  padding: 2% 0 2% 0;
  position: fixed;
  z-index: 100;
}

header{
  width: 100%;
  right: 0;
  left: 0;
  z-index: 100;
}

.logo{
  float: left;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-top: 30px;
  line-height: 0;
  color: #e06052;
  margin-left: 30px;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
  float: right;
  margin-bottom: 5%;
  height: 40px;
  padding-top: 30px;

}

.navbar-link{
  font-family: 'Roboto', sans-serif;
  color: #9c9c9c;
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

.navbar-link:hover {
  color: white;
  background-color: #e06052;
}

#menu{
  padding: 2% 0 2% 0;
}

#work{
  color: white;
  background-color: #e06052;
}


/**about me**/

.summary{
  position: relative;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: #f5f5f5;
  transform-style: preserve-3d;
  transition: transform 200ms ease 0s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0 3px 5px 0 rgba(90, 91, 95, 0.7);
}

.summary img{
  border-radius: 10px 0 0 10px;
}

.brief_intro h2{
  font-size: 35px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
  display: block;
  color: #9c9c9c;
  text-decoration-style: wavy;
}

.brief_intro h3{
  font-size: 23px;
  letter-spacing: 1px;
  font-family: 'Roboto', cursive;
  display: block;
  color: #e06052;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.col-left, .col-right {
  float: left;
  width: 50%;
  height: 450px;
  display: grid;
  align-content: center;
}

.col-left{
  height: 100%;
  padding-right: 15px;
}

.col-right{
  padding-left: 25px;
  padding-right: 15px;
}


.brief h3{
  font-size: 23px;
  letter-spacing: 1px;
  font-family: 'Roboto', cursive;
  display: block;
  color: #e06052;
  text-align: left;
  margin-top: 20px;
}

.sum{
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  transform-style: preserve-3d;
  transition: transform 200ms ease 0s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}


.workpic{
  margin-bottom: 30px;
  margin-top: 30px;
}


.col-right p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #9c9c9c;
  text-transform: uppercase;
}

.col-right h2{
  font-family: 'Roboto';
  text-transform: capitalize;
  color: #e06052;
}

.col-right h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: #9c9c9c;
  letter-spacing: 0.5px;
  margin-top: 5px;
}



.lo{
  width: 15%;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.5;
}

.lo:hover{
  opacity: 1;
}

.pointer{
  display: block;
}



.hollo{
  display: block; 
  margin-bottom: 10px;
}


.button_group a{
  color: #e06052;
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.fa{
  color: white;
  margin-right: 10px;
}

.block{
  border: 2px solid #e06052;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.block:hover{
  border: 5px solid #e06052;
  border-radius: 10px;
  background-color: #e06052;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  opacity: 0.7;
}

.my-sto{
  margin-top: 25px;
}

.bl{
  background-color: #e06052;
  border-radius: 50px;
  padding: 10px 20px;
  text-align: center;
  width: 50%;
  color: white;
  font-size: 1.5rem;
  transition: .2s linear;
}

.bl:hover{
  box-shadow: 10px 10px 10px 0 rgb(90 91 95 / 30%);
  top: -5px;
}


.wavy{
  color: #202124;
  padding: 10px 0;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

.wavy:hover, .wavy:focus{
  background: radial-gradient(circle at 10px -7px, transparent 8px, white 8px, white 9px, transparent 9px) repeat-x,
    radial-gradient(circle at 10px 27px, transparent 8px, white 8px, white 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
    animation: waveFlow 1s infinite linear;
}

@keyframes waveFlow {
    from { background-position-x: -10px, 0; }
    to { background-position-x: -30px, -20px; }
}


/**new work
.latest{
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  display: block;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.work-items{
  display: block;
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items:center;
  perspective: 1000px;
}

.work-item{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color: #333;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%), 0 15px 35px 0 rgb(0 0 0 / 5%);
  margin: 40px auto;
    border-radius: 10px;
}

.item .col-left{
  float: left;
  width: 60%;
  padding: 0;
  height: 100%;
  background-position: 50% 50%;
  background-image: url(https://via.placeholder.com/548x400);
  background-size: cover;
}

.item .col-right{
  display: flex;
  width: 40%;
  height: 400px;
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items:stretch;
  -webkit-box-flex: 1;
  flex: 1;
}**/

/**works**/




/**work**/
.col-work{
  float: left;
  width: 33%;
  margin-top: 20px;
}

.up{
  position: relative;
}

.up a{
  position: relative;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.up a:hover{

 box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
 top: -5px;
}

.latest{
  font-size: 35px;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #9c9c9c;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/**.back h2{
  color: white;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
}

.back p{
  text-align: left;
  margin-left: 3rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: italic;
}

.back{
  padding: 20px;
  min-height: 30.2rem;
  background-color: #202124;
  text-align: center;
  display: grid;
  align-content: center;
}

.back:hover{
 border-width: 20px;
 border-style: solid;
 border-color: #63a359;
 opacity: 0.5;
}**/


/**paper note**/
.paper{
  position: relative;
  padding: 10px;
  min-height: 152px;
  background: #f4f0e8;
  box-shadow: 1px 0 1px black;
  text-align: center;
  display: grid;
  align-content: center;
}

.paper h3{
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.paper p{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.paper::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--gray);
}

.paper::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--gray);
}

.numbers {
  display: flex;
  min-height: 15.1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.number {
  position: relative;
  width: 100%;
  background: #f4f0e8;
  border-top: 1.5px dashed #3333;
  box-shadow: 1px 1px 1px black;
  transform-origin: center top;
}


.number:nth-child(2) {
  transform: skew(-5deg, 0deg);
  background: #f4f0e8;
  box-shadow: 0 3px 5px 0 rgba(90, 91, 95, 0.7);
}

.number:hover{
  box-shadow: 0 10px 20px 0 rgba(90, 91, 95, 0.7);
}

.number:nth-child(2)::after,
 {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f4f0e8;
}

.number:nth-child(3) {
  background: #f4f0e8;
  transform: skew(5deg, 0deg);
}

.number:nth-child(1){
  transform: skew(0deg, -1.5deg);
  background: #f4f0e8;
}

.link-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 1.5rem;
  margin-left: 5.7rem;
  margin-top: 2rem;
  align-items: center;
  width: 151px;
}

.link-wrapper a{
  color: #202124;
  font-family: futura;
  letter-spacing: 2px;
}



/**footer**/
.wave{
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/wave.png);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 230px;
  margin-top: 150px;
  display: block;
}

.foo{
  background-color: #f5f5f5;
  width: 100%;
  height: 200px;
  max-width: 1980px;
  text-align: center;
  display: grid;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.foo:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.5;
  background-size: cover;
}

.mail i{
  display: inline-block;
  color: #333;
  margin-right: 5px;
}

.mail p{
  display: inline-block;
}

.mail a{
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}

/**back to project**/
.button-goback{
  text-align: center;
}

.button-goback a{
  border: 2px solid #e06052;
  padding: 20px;
  border-radius: 15px;
  color: #e06052;
  font-size: 30px;
  box-shadow: 5px 5px 0 #e06052;
}

.button-goback a:hover{
  background-color: #e06052;
  color: white;
  box-shadow: 5px 5px 0 #9c9c9c;
  font-weight: 700;
}



/***MEDIA QUERIES**/

@media (max-width: 1023px) {
.header p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  font-family: 'roboto', monospace;
  padding: 20px
  }

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 2rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

#header{
  padding: 10% 0 2% 0;
}

.logo{
  float: none;
}


.row{
  margin-bottom: 20px;
}

.sum{
  padding: 0;
}

.brief_intro h2{
  font-size: 20px;
}

.brief_intro h3{
  font-size: 17px;
}

.col-left, .col-right{
  padding: 0 15px;
  display: grid;
  margin: 50px 0;
  float: none;
  height: 100%;
  width: 100%;
}


.button-goback a{
  font-size: 20px;
}

.col-left{
  padding: 0;
}

.col-left img{
  border-radius: 10px 10px 0 0;
}

.col-work{
  float: none;
  width: 100%;

}

section{
  padding: 50px 0;
}

.block{
  text-align: center;
}

.wave{
  height: 60px;
}
}


@media screen and (max-width: 880px) {
  .wave{
    height: 60px;}
  }

