
/* ------ Grid ------ */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }


/**clearfix**/
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/**basic styles**/
html{
	font-size: 62.5%;}

body{
  min-height: 100vh;
	font-size: 1.5rem;
	line-height:1.6;
	font-weight: 400;
	font-family: 'roboto', sans-serif;
	color: white;
  background-color: #202124;
}

body:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

section{
  padding: 100px 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.image-wrapper{

	display: block;
  
	overflow: hidden;
	height: 450px;
}


.image-wrapper-sub{
  display: block;
  overflow: hidden;
  height: 450px;
  margin-top: -15rem;

}



.header p{
	text-align: left;
	font-size: 6.5rem;
	font-weight: 700;
	line-height: 8.5rem;
	font-family: 'Righteous', cursive;
  display: block;

}

.header a{
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-family: 'GoogleSansBold', sans-serif;
}


.navbar-list{
	list-style: none;
	margin-bottom: 0;
}

.navbar-item{
	position: relative;
	float: left;
	margin-bottom: 5%;
	height: 40px;
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 3rem;

}

a {
  text-decoration: none;
  cursor: pointer;
}

#menu{
  padding: 2% 0 2% 0;
}

.my-works{
	font-size: 2rem;
	height: 40px;
	margin-bottom: 100px;
	margin-top: 100px;
}


.mark{
	color: white;
	background-color: transparent;
	position:relative;
	padding-top: 0.5rem;
	padding-left: 1rem;
}

.mark:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:#FCE883;
  position:absolute;
  border-right-color:#FCE883;
  width:104%;
  height:1.5em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.mark:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:#FCE883;
  border-left-color:#FCE883;
  border-top-color:#FCE883;
  position:absolute;
  width:100%;
  height:1.5em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}

/**header**/
.navbar-link {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;}

.navbar-link:hover {
  color: #202124;
  background-color: #E8F0FE;
}

#active{
	color: #202124;
	background-color: #E8F0FE;
}


.header-style a {
  color: #202124;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}


.header-style a:hover {
  color: white;
  text-shadow: none;
}

.wavy{
  color: #202124;
  padding: 10px 0;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

.wavy:hover, .wavy:focus{
	background: radial-gradient(circle at 10px -7px, transparent 8px, white 8px, white 9px, transparent 9px) repeat-x,
    radial-gradient(circle at 10px 27px, transparent 8px, white 8px, white 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
    animation: waveFlow 1s infinite linear;
}

@keyframes waveFlow {
    from { background-position-x: -10px, 0; }
    to { background-position-x: -30px, -20px; }
}

/**work**/
.work-item{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.col-work {
  float: left;
  width: 30%;
  padding: 0 15px;
}

.col-work a {
  display: block;
  margin-bottom: 14px;
  position: relative;
   -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  top: 0;
  left: 0;
}

.col-work a:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

.work-container{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}




/***MEDIA QUERIES**/
@media (max-width: 1023px) {
.header p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  font-family: 'roboto', monospace;
  padding: 20px
  }

hr{
  display: none;
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 2rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

button,
.button {
  margin-bottom: 1rem;
}

.my-works{
  font-size: 1rem;
  height: 40px;
  margin-bottom: 4rem;
  margin-top: 10rem;
}

.image-wrapper-sub{
  display: block;
  overflow: hidden;
  height: 300px;
  margin-top: 0.5rem;

}

.col-work {
  max-width: 300px;
  width: auto;

}


}

