/**basic**/
html {
  font-size: 62.5%;

}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #202124;
  font-family: 'Montserrat', sans-serif;
}

body:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 3rem;

}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 100px 0px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}



/**Grid**/
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  /**header**/
#header{
  padding: 2% 0 2% 0;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
  position: relative;
  float: left;
  margin-bottom: 5%;
  height: 40px;
}

.navbar-link{
  font-family: 'Roboto', sans-serif;
  color: #f4f0e8;
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

.navbar-link:hover {
  color: #202124;
  background-color: #63a359;
}

#menu{
  padding: 2% 0 2% 0;
}

#work{
  color: #202124;
  background-color: #63a359;
}


/**catalog**/
.col-left, .col-right {
  float: left;
  width: 50%;
  padding: 0 15px;
  height: 551px;
  display: grid;
  align-content: center;
}

.items{
  margin-bottom: 1rem;
}

.title{
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #f4f0e8;
  letter-spacing: 0.15rem;
}

.items h3{
  color: #aaaaaa;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.items a{
  color: #f4f0e8;
  font-size: 1.5rem;
  border-bottom: 2px solid #63a359;
  padding: 3px;
}

.items a:hover{
  border: 2px solid #63a359;
  border-radius: 5px;
  color: #202124;
  background-color: #63a359;
  opacity: 0.7;
  padding: 3px;
}

.v{
  margin-top: 0;
}

.view a{
  color: #f4f0e8;
  font-size: 2rem;
  border: 2px solid #63a359;
  border-radius: 10px;
  padding: 10px;
}

.view{
  margin-top: 60px;
}


.view a:hover{
  border: 2px solid #63a359;
  border-radius: 10px;
  color: #202124;
  background-color: #63a359;
  opacity: 0.7;
  padding: 10px;
}

.fa{
  color: #f4f0e8;
  font-size: 0.1rem;
}

.new{
  float: right;
  width: 33.3333%;
  margin-top: -90px;
  transform: rotate(-4deg);
}





/**footer**/
.wave{
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/wave.png);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  margin-top: 150px;
  display: block;
}

.foo{
  background-color: white;
  width: 100%;
  height: 200px;
  max-width: 1980px;
  text-align: center;
  display: grid;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.foo:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.5;
  background-size: cover;
}

.mail i{
  display: inline-block;
  color: #333;
  margin-right: 5px;
}

.mail p{
  display: inline-block;
}

.mail a{
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}



/***MEDIA QUERIES**/

@media (max-width: 1023px) {
.header p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  font-family: 'roboto', monospace;
  padding: 20px
  }

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 2rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

#header{
  padding: 10% 0 2% 0;
}

.project, .writing, .fun{
  padding: 50px 0;
}

.col-left, .col-right{
  padding: 0 15px;
  display: grid;
  margin: 15px 0;
  float: none;
  height: 100%;
  width: 100%;
}

.items{
  margin-bottom: 2rem;
}

.title{
  font-size: 2rem;
  display: inline-block;
}

.items h3{
  display: none;
}



.view{
  display: inline-block;
  float: right;
}

.view i{
  display: none;
}

.new{
  display: none;
}

.wave{
  height: 67px;
}
}

