/**basic**/
html {
  font-size: 62.5%;

}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #202124;
  font-family: 'Montserrat', sans-serif;
}

body:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

* {
  box-sizing: border-box;
}


ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}



.clearfix::after {
  content: '';
  display: table;
  clear: both;
}



/**Grid**/
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

  /**header**/
#header{
  padding: 2% 0 2% 0;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
  position: relative;
  float: left;
  margin-bottom: 5%;
  height: 40px;
}

.navbar-link{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color .20s ease-in;
   -moz-transition: color .20s ease-in;
   -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
   -moz-transition: border-bottom .20s ease-in;
   -webkit-transition: border-bottom .20s ease-in;
}

.navbar-link:hover {
  color: #202124;
  background-color: #63a359;
}

#menu{
  padding: 2% 0 2% 0;
}

#work{
  color: #202124;
  background-color: #63a359;
}


/**fashion**/
.header {
  font-size: 24px;
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0 30px;
}

.wrapper{
  width: 33.33333%;
  height: 100%;
  padding: 10px;
}

.name{
  padding: 100px 0 0 0;
}

.name p{
  font-family: 'Righteous', cursive;
  color: #f4f0e8;
  letter-spacing: 2.5px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.box{
  position: relative;
  max-height: 300px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017),
              0 3.3px 4px rgba(0, 0, 0, 0.024),
              0 6.3px 7.5px rgba(0, 0, 0, 0.03),
              0 11.2px 13.4px rgba(0, 0, 0, 0.036),
              0 20.9px 25.1px rgba(0, 0, 0, 0.043),
              0 50px 60px rgba(0, 0, 0, 0.06);
    }

.box:hover {
   transition: all 0.3s ease-in-out;
}

.box:hover:before {
   transition: all 0.3s ease-in-out;}

.box h2, h3 {
   position: absolute;
   color: #fff;
   z-index: 2;
   width: 100%;
   transition: opacity 0.2s, transform 0.3s;
}

.box img {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: all 0.3s ease-in-out;
}

.box img:hover {
   transition: all 0.3s ease-in-out;
}

.box img:after {
   content: "";
   position: absolute;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
}

.box img:hover {
   transition: all 0.3s ease-in-out;
}
 

.blury-card .frame {
   width: calc(100% - 40px);
   height: calc(100% - 40px);
   opacity: 0;
   transition: all 0.3s ease-in-out;}

.blury-card h2, h3 {
   text-align: center;
   top: 50%;
   transform: translatey(-50%);
   margin: 0;
   z-index: 3;}

.blury-card h3 {
   transform: translatey(30px);
   letter-spacing: 3px;}

.blury-card span {
   font-size: 24px;
}
 .blury-card img {
   z-index: 2;
}
 .blury-card:hover .frame {
   width: calc(100% - 120px);
   height: calc(100% - 120px);
   opacity: 1;
}
 .blury-card:hover img {
   opacity: 0.7;
}
 .blury-card:hover:before {
   opacity: 1;
   transition: all 0.3s ease-in-out;
}


/**footer**/
.wave{
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/wave.png);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  margin-top: 150px;
  display: block;
}

.foo{
  background-color: white;
  width: 100%;
  height: 200px;
  max-width: 1980px;
  text-align: center;
  display: grid;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.foo:after{
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.5;
  background-size: cover;
}

.mail i{
  display: inline-block;
  color: #333;
  margin-right: 5px;
}

.mail p{
  display: inline-block;
}

.mail a{
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}


/**back to project**/
.button-goback{
  text-align: center;
}

.button-goback a{
  border: 2px solid #63a359;
  padding: 20px;
  border-radius: 15px;
  color: #63a359;
  font-size: 30px;
  box-shadow: -5px 5px 0 #63a359;
}

.button-goback a:hover{
  background-color: #63a359;
  color: #333;
  box-shadow: 5px -5px 0 white;
  font-weight: 700;
}

.goback{
  margin-top: 200px;
}



/***MEDIA QUERIES**/

@media screen and (max-width: 880px) {
  .wrapper {
    width: 50%;
  }

  .header{
    line-height: 150px;
  }

  .name{
    margin-top: 50px;
    padding-bottom: 0;
    height: 100%;
  }
}

@media screen and (max-width: 520px) {
  .wrapper {
    width: 100%;}

  .header{
    line-height: 50px;
    font-size: 33px;}

  .name{
    margin-top: 100px;
    padding-bottom: 0;
    height: 100%;}

  .wave{
  height: 67px;}

}


@media (max-width: 1023px) {
.header p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  font-family: 'roboto', monospace;
  padding: 20px
  }

p {
  margin-top: 0;
  padding-right:0%;
  line-height: 2rem
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  padding-left: 0;
  margin-top: 0; }

#header{
  padding: 10% 0 2% 0;
}

.col-left, .col-right{
  display: grid;
  margin: 40px 0;
  float: none;
  height: 100%;
  width: 100%;
}


.container{
  padding: 0;
}

.brief_intro h2{
  font-size: 23px;
}

header .container{
  padding: 0 20px;
}

.goal-item{
  width: 80%;
  margin-bottom: 35px;
  float: none;
  margin-left: 30px;
}

.pic-group{
  width: 100%;
  margin-top: 35px;
}

section{
  padding: 50px 0;
}

.block{
  text-align: left;
}

.wave{
  height: 130px;
}
}

